<mat-toolbar color="warn">F1 champions app</mat-toolbar>
<div class="main-content">
  <app-champions-list [championsList]="champions"
                      [loading]="loadingChampionsList"
                      [selectedDriver]="selectedDriver"
                      (championSelected)="selectChampion($event)">
  </app-champions-list>
  <app-season-results [seasonResults]="seasonResults"
                      [options]="seasonResultsOptions"
                      [championData]="selectedDriver.driverData"
                      (paginatorChanged)="updateSeasonResultsSize($event)"></app-season-results>
</div>
