@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

// Overrides material styles
.season-results-list {
  .mat-list-item-content {
    padding: 0px !important;
    height: 75px !important;
  }
}

.champions-list-container {
  .mat-nav-list .mat-list-item.mat-list-item-focus, .mat-nav-list .mat-list-item:hover {
    color: #000000;
  }
}
